[Unit]
Description=Dummy trigger for network.target and network-online.target
DefaultDependencies=no
Conflicts=shutdown.target
After=network-pre.target
Before=network.target network-online.target shutdown.target
ConditionKernelCommandLine=skuf49
OnSuccess=network.target network-online.target

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
